*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ---------- LOADER ------------ */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    animation: animatebottom 1s;
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

/* -------------------------------------------*/

.homepage {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.snowFall::after{
    content: url("../img/Snow.svg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: infinite-slide 4s linear infinite;
}

.back {
    height: 100%;
    width: 100%;
}

.board {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 100;
    animation: pulsate 1.5s linear infinite;
    animation-direction: alternate;
}

.getting-started {
    height: 300px;
    width: 200px;
    cursor: pointer;
}

.main__board {
    position: absolute;
    top: 0;
    right: 10%;
    animation: slide 2s linear 1s;
}

.main__board .board {
    animation-delay: 3.3s;
}

.coa {
    height: 320px;
    width: 250px;
    transform: translateY(-30px);
    position: relative;
    z-index: 10;
}

.board__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b1 {
    transform: translateY(-65%);
}

.b2 {
    transform: translateY(-67%);
}

.b3 {
    transform: translateY(-117%);
}

.b1-img,
.b2-img,
.b3-img {
    height: 68px;
    width: 150px;
}

.b2-img {
    height: 90px;
}

.birthday__board {
    height: 100px;
    width: 650px;
    position: absolute;
    top: 28%;
    left: 22%;
    z-index: 100;
}

.bday-img {
    width: 100%;
    height: 100%;
}

@keyframes pulsate {
    0% {
        transform: translateX(-30px);
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

@keyframes slide {
    0% {
        transform: translateY(-250px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes infinite-slide{
    0%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(20%);
    }
}